---
interface Props {
  variant: string;
}
const { variant} = Astro.props;
---
<div class={`${variant} absolute w-5 h-5 flex justify-center items-center`}>
  <div class="line w-full h-[1px] bg-gray-400 absolute"></div>
  <div class="line h-full w-[1px] bg-gray-400 absolute"></div>
</div>
