---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Projects</title>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Astro description" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta property="og:title" content="Lucca dev">
    <meta property="og:description" content="Energic and engaged Argentinian programmer. Focused on polishing details.">
    <meta name="author" content="Lucca">
	</head>
	<body class="relative">
		<div class="noise">
		</div>
		
		<slot />
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

	
	html{
		--color: #fff;
	}
	body{
		font-family: 'Montserrat', sans-serif;
		color: #111;
		min-height: 100vh;
		background: radial-gradient(circle at 50% 250%, var(--color) 0%, rgba(102,102,102,0) 70%);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100dvh;
		overflow: hidden;

	}
	.noise{
		position: fixed;
		height: 100dvh;
		z-index: 1000;
		width: 100%;
		opacity: 0.05;
		pointer-events: none;
		background-image: url('/noise.gif');
	}
	html{
		max-height: 100dvh;
	}
</style>
